{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": 0,
    "strict": 0,
    "new-cap": 0,
    "max-len": 0,
    "arrow-body-style": ["error", "always"],
    "no-param-reassign": 0,
    "padded-blocks": 0,
    "global-require": 0,
    "func-names": 0,
    "indent": false
  }
}